body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:720px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:1280px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:1280px;
}
#u1 {
  position:absolute;
  left:2px;
  top:632px;
  width:716px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:0px;
  top:-10px;
  width:720px;
  height:120px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:120px;
}
#u3 {
  position:absolute;
  left:2px;
  top:52px;
  width:716px;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:241px;
  top:32px;
  width:249px;
  height:57px;
  font-size:48px;
  color:#FFFFFF;
  text-align:center;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:249px;
  height:57px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:249px;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:70px;
  top:32px;
  width:140px;
  height:57px;
  font-size:48px;
  color:#FFFFFF;
  text-align:center;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:57px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:20px;
  top:20px;
  width:50px;
  height:81px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:81px;
}
#u9 {
  position:absolute;
  left:2px;
  top:32px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:0px;
  top:160px;
  width:720px;
  height:250px;
  font-size:72px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:250px;
}
#u11 {
  position:absolute;
  left:2px;
  top:84px;
  width:716px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:100px;
  top:480px;
  width:520px;
  height:110px;
  font-size:36px;
  color:#FFFFFF;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:520px;
  height:110px;
}
#u13 {
  position:absolute;
  left:2px;
  top:34px;
  width:516px;
  word-wrap:break-word;
}
