body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1429px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:1280px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:1280px;
}
#u1 {
  position:absolute;
  left:2px;
  top:632px;
  width:716px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:1301px;
  top:801px;
  width:128px;
  height:57px;
  font-size:48px;
  color:#FFFFFF;
  text-align:center;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:57px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:120px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:120px;
}
#u5 {
  position:absolute;
  left:2px;
  top:52px;
  width:716px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:70px;
  top:32px;
  width:140px;
  height:57px;
  font-size:48px;
  color:#FFFFFF;
  text-align:center;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:57px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:20px;
  top:20px;
  width:50px;
  height:81px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:81px;
}
#u9 {
  position:absolute;
  left:2px;
  top:32px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:530px;
  top:16px;
  width:150px;
  height:90px;
  font-size:28px;
  color:#FFFFFF;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:90px;
}
#u11 {
  position:absolute;
  left:2px;
  top:28px;
  width:146px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:20px;
  top:212px;
  width:608px;
  height:10px;
}
#u12_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u12_end {
  position:absolute;
  left:591px;
  top:-5px;
  width:18px;
  height:20px;
}
#u12_line {
  position:absolute;
  left:0px;
  top:3px;
  width:608px;
  height:5px;
}
#u13 {
  position:absolute;
  left:38px;
  top:150px;
  width:560px;
  height:52px;
  font-size:28px;
  color:#CCCCCC;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:560px;
  height:52px;
}
#u14 {
  position:absolute;
  left:0px;
  top:10px;
  width:560px;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:68px;
  top:350px;
  width:560px;
  height:780px;
  font-size:28px;
  color:#CCCCCC;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:560px;
  height:780px;
}
#u16 {
  position:absolute;
  left:0px;
  top:0px;
  width:560px;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:25px;
  top:250px;
  width:230px;
  height:60px;
}
#u17_input {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:60px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  text-decoration:none;
  color:#000000;
}
#u17_input:disabled {
  color:grayText;
}
