body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:2730px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:1280px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:1280px;
}
#u1 {
  position:absolute;
  left:2px;
  top:632px;
  width:716px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:120px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:120px;
}
#u3 {
  position:absolute;
  left:2px;
  top:52px;
  width:716px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:70px;
  top:32px;
  width:140px;
  height:57px;
  font-size:48px;
  color:#FFFFFF;
  text-align:center;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:57px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:20px;
  top:20px;
  width:50px;
  height:81px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:81px;
}
#u7 {
  position:absolute;
  left:2px;
  top:32px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:530px;
  top:16px;
  width:150px;
  height:90px;
  font-size:28px;
  color:#FFFFFF;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:90px;
}
#u9 {
  position:absolute;
  left:2px;
  top:28px;
  width:146px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:44px;
  top:150px;
  width:560px;
  height:52px;
  font-size:28px;
  color:#CCCCCC;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:560px;
  height:52px;
}
#u11 {
  position:absolute;
  left:0px;
  top:10px;
  width:560px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:30px;
  top:222px;
  width:608px;
  height:10px;
}
#u12_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u12_end {
  position:absolute;
  left:591px;
  top:-5px;
  width:18px;
  height:20px;
}
#u12_line {
  position:absolute;
  left:0px;
  top:3px;
  width:608px;
  height:5px;
}
#u13 {
  position:absolute;
  left:44px;
  top:322px;
  width:608px;
  height:10px;
}
#u13_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u13_end {
  position:absolute;
  left:591px;
  top:-5px;
  width:18px;
  height:20px;
}
#u13_line {
  position:absolute;
  left:0px;
  top:3px;
  width:608px;
  height:5px;
}
#u14 {
  position:absolute;
  left:44px;
  top:260px;
  width:560px;
  height:52px;
  font-size:28px;
  color:#CCCCCC;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:560px;
  height:52px;
}
#u15 {
  position:absolute;
  left:0px;
  top:10px;
  width:560px;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:178px;
  top:1374px;
  width:452px;
  height:96px;
  font-size:48px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:452px;
  height:96px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:452px;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:2010px;
  top:32px;
  width:720px;
  height:1280px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:1280px;
}
#u19 {
  position:absolute;
  left:2px;
  top:632px;
  width:716px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:2010px;
  top:32px;
  width:720px;
  height:120px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:120px;
}
#u21 {
  position:absolute;
  left:2px;
  top:52px;
  width:716px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:2080px;
  top:64px;
  width:140px;
  height:57px;
  font-size:48px;
  color:#FFFFFF;
  text-align:center;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:57px;
}
#u23 {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:2030px;
  top:52px;
  width:50px;
  height:81px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:81px;
}
#u25 {
  position:absolute;
  left:2px;
  top:32px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:2540px;
  top:48px;
  width:150px;
  height:90px;
  font-size:28px;
  color:#FFFFFF;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:90px;
}
#u27 {
  position:absolute;
  left:2px;
  top:28px;
  width:146px;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:2054px;
  top:182px;
  width:560px;
  height:52px;
  font-size:28px;
  color:#CCCCCC;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:560px;
  height:52px;
}
#u29 {
  position:absolute;
  left:0px;
  top:10px;
  width:560px;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:2040px;
  top:254px;
  width:608px;
  height:10px;
}
#u30_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u30_end {
  position:absolute;
  left:591px;
  top:-5px;
  width:18px;
  height:20px;
}
#u30_line {
  position:absolute;
  left:0px;
  top:3px;
  width:608px;
  height:5px;
}
#u31 {
  position:absolute;
  left:2054px;
  top:354px;
  width:608px;
  height:10px;
}
#u31_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u31_end {
  position:absolute;
  left:591px;
  top:-5px;
  width:18px;
  height:20px;
}
#u31_line {
  position:absolute;
  left:0px;
  top:3px;
  width:608px;
  height:5px;
}
#u32 {
  position:absolute;
  left:2054px;
  top:292px;
  width:560px;
  height:52px;
  font-size:28px;
  color:#CCCCCC;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:560px;
  height:52px;
}
#u33 {
  position:absolute;
  left:0px;
  top:10px;
  width:560px;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:2090px;
  top:699px;
  width:560px;
  height:557px;
  font-size:28px;
  color:#CCCCCC;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:560px;
  height:557px;
}
#u35 {
  position:absolute;
  left:0px;
  top:0px;
  width:560px;
  word-wrap:break-word;
}
#u36 {
  position:absolute;
  left:2054px;
  top:558px;
  width:608px;
  height:10px;
}
#u36_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u36_end {
  position:absolute;
  left:591px;
  top:-5px;
  width:18px;
  height:20px;
}
#u36_line {
  position:absolute;
  left:0px;
  top:3px;
  width:608px;
  height:5px;
}
#u37 {
  position:absolute;
  left:2054px;
  top:496px;
  width:560px;
  height:52px;
  font-size:28px;
  color:#CCCCCC;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:560px;
  height:52px;
}
#u38 {
  position:absolute;
  left:0px;
  top:10px;
  width:560px;
  word-wrap:break-word;
}
#u39 {
  position:absolute;
  left:2054px;
  top:456px;
  width:608px;
  height:10px;
}
#u39_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u39_end {
  position:absolute;
  left:591px;
  top:-5px;
  width:18px;
  height:20px;
}
#u39_line {
  position:absolute;
  left:0px;
  top:3px;
  width:608px;
  height:5px;
}
#u40 {
  position:absolute;
  left:2054px;
  top:394px;
  width:560px;
  height:52px;
  font-size:28px;
  color:#CCCCCC;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:560px;
  height:52px;
}
#u41 {
  position:absolute;
  left:0px;
  top:10px;
  width:560px;
  word-wrap:break-word;
}
#u42 {
  position:absolute;
  left:2054px;
  top:648px;
  width:286px;
  height:10px;
}
#u42_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u42_end {
  position:absolute;
  left:269px;
  top:-5px;
  width:18px;
  height:20px;
}
#u42_line {
  position:absolute;
  left:0px;
  top:3px;
  width:286px;
  height:5px;
}
#u43 {
  position:absolute;
  left:2054px;
  top:586px;
  width:560px;
  height:52px;
  font-size:28px;
  color:#CCCCCC;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:560px;
  height:52px;
}
#u44 {
  position:absolute;
  left:0px;
  top:10px;
  width:560px;
  word-wrap:break-word;
}
#u45 {
  position:absolute;
  left:2390px;
  top:578px;
  width:210px;
  height:90px;
  font-size:28px;
  color:#FFFFFF;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:90px;
}
#u46 {
  position:absolute;
  left:2px;
  top:28px;
  width:206px;
  word-wrap:break-word;
}
#u47 {
  position:absolute;
  left:2144px;
  top:1391px;
  width:452px;
  height:684px;
  font-size:48px;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:452px;
  height:684px;
}
#u48 {
  position:absolute;
  left:0px;
  top:0px;
  width:452px;
  word-wrap:break-word;
}
#u49 {
  position:absolute;
  left:1000px;
  top:62px;
  width:720px;
  height:1169px;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:1169px;
}
#u50 {
  position:absolute;
  left:2px;
  top:576px;
  width:716px;
  visibility:hidden;
  word-wrap:break-word;
}
#u51 {
  position:absolute;
  left:1000px;
  top:52px;
  width:720px;
  height:120px;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:120px;
}
#u52 {
  position:absolute;
  left:2px;
  top:52px;
  width:716px;
  visibility:hidden;
  word-wrap:break-word;
}
#u53 {
  position:absolute;
  left:1070px;
  top:94px;
  width:140px;
  height:57px;
  font-size:48px;
  color:#FFFFFF;
  text-align:center;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:57px;
}
#u54 {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  word-wrap:break-word;
}
#u55 {
  position:absolute;
  left:1020px;
  top:82px;
  width:50px;
  height:81px;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:81px;
}
#u56 {
  position:absolute;
  left:2px;
  top:32px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u57 {
  position:absolute;
  left:1241px;
  top:94px;
  width:249px;
  height:57px;
  font-size:48px;
  color:#FFFFFF;
  text-align:center;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:249px;
  height:57px;
}
#u58 {
  position:absolute;
  left:0px;
  top:0px;
  width:249px;
  word-wrap:break-word;
}
#u59 {
  position:absolute;
  left:1000px;
  top:172px;
  width:720px;
  height:1170px;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:1170px;
}
#u60 {
  position:absolute;
  left:2px;
  top:577px;
  width:716px;
  visibility:hidden;
  word-wrap:break-word;
}
#u61 {
  position:absolute;
  left:1006px;
  top:222px;
  width:720px;
  height:160px;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:160px;
}
#u62 {
  position:absolute;
  left:2px;
  top:72px;
  width:716px;
  visibility:hidden;
  word-wrap:break-word;
}
#u63 {
  position:absolute;
  left:1086px;
  top:262px;
  width:560px;
  height:80px;
  font-size:48px;
  text-align:center;
}
#u63_img {
  position:absolute;
  left:0px;
  top:0px;
  width:560px;
  height:80px;
}
#u64 {
  position:absolute;
  left:0px;
  top:12px;
  width:560px;
  word-wrap:break-word;
}
#u65 {
  position:absolute;
  left:1006px;
  top:447px;
  width:720px;
  height:150px;
}
#u65_img {
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:150px;
}
#u66 {
  position:absolute;
  left:2px;
  top:67px;
  width:716px;
  visibility:hidden;
  word-wrap:break-word;
}
#u67 {
  position:absolute;
  left:1086px;
  top:475px;
  width:540px;
  height:95px;
  font-size:72px;
  text-align:center;
}
#u67_img {
  position:absolute;
  left:0px;
  top:0px;
  width:540px;
  height:95px;
}
#u68 {
  position:absolute;
  left:0px;
  top:6px;
  width:540px;
  word-wrap:break-word;
}
#u69 {
  position:absolute;
  left:1530px;
  top:61px;
  width:150px;
  height:90px;
  font-size:28px;
  color:#FFFFFF;
}
#u69_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:90px;
}
#u70 {
  position:absolute;
  left:2px;
  top:28px;
  width:146px;
  word-wrap:break-word;
}
