body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:720px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:1280px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:1280px;
}
#u1 {
  position:absolute;
  left:2px;
  top:632px;
  width:716px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:0px;
  top:-10px;
  width:720px;
  height:120px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:120px;
}
#u3 {
  position:absolute;
  left:2px;
  top:52px;
  width:716px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:617px;
  top:9px;
  width:73px;
  height:16px;
  font-size:72px;
  color:#FFFFFF;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:16px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:70px;
  top:32px;
  width:220px;
  height:57px;
  font-size:48px;
  color:#FFFFFF;
  text-align:center;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:57px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:20px;
  top:20px;
  width:50px;
  height:81px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:81px;
}
#u9 {
  position:absolute;
  left:2px;
  top:32px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:587px;
  top:20px;
  width:83px;
  height:76px;
  color:#FFFFFF;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:76px;
}
#u11 {
  position:absolute;
  left:2px;
  top:30px;
  width:79px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:530px;
  top:200px;
  width:120px;
  height:120px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:120px;
}
#u13 {
  position:absolute;
  left:2px;
  top:52px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:280px;
  top:136px;
  width:320px;
  height:24px;
  font-size:14px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:24px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:190px;
  top:260px;
  width:300px;
  height:90px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:90px;
}
#u17 {
  position:absolute;
  left:2px;
  top:37px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:210px;
  top:270px;
  width:260px;
  height:50px;
  font-size:28px;
  color:#FFFFFF;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:50px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:40px;
  top:440px;
  width:120px;
  height:120px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:120px;
}
#u21 {
  position:absolute;
  left:2px;
  top:52px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:180px;
  top:500px;
  width:300px;
  height:90px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:90px;
}
#u23 {
  position:absolute;
  left:2px;
  top:37px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:200px;
  top:510px;
  width:260px;
  height:50px;
  font-size:28px;
  color:#FFFFFF;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:50px;
}
#u25 {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:0px;
  top:1210px;
  width:714px;
  height:70px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:714px;
  height:70px;
}
#u27 {
  position:absolute;
  left:2px;
  top:27px;
  width:710px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:563px;
  top:1218px;
  width:54px;
  height:54px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:54px;
}
#u29 {
  position:absolute;
  left:2px;
  top:19px;
  width:50px;
  visibility:hidden;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:90px;
  top:1220px;
  width:440px;
  height:50px;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:440px;
  height:50px;
}
#u31 {
  position:absolute;
  left:2px;
  top:17px;
  width:436px;
  visibility:hidden;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:27px;
  top:1217px;
  width:53px;
  height:53px;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:53px;
}
#u33 {
  position:absolute;
  left:2px;
  top:18px;
  width:49px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:647px;
  top:1228px;
  width:33px;
  height:33px;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:33px;
}
#u35 {
  position:absolute;
  left:2px;
  top:8px;
  width:29px;
  visibility:hidden;
  word-wrap:break-word;
}
