body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1440px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:1280px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:1280px;
}
#u1 {
  position:absolute;
  left:2px;
  top:632px;
  width:716px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:0px;
  top:-10px;
  width:720px;
  height:120px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:120px;
}
#u3 {
  position:absolute;
  left:2px;
  top:52px;
  width:716px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:241px;
  top:32px;
  width:249px;
  height:57px;
  font-size:48px;
  color:#FFFFFF;
  text-align:center;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:249px;
  height:57px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:249px;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:70px;
  top:32px;
  width:140px;
  height:57px;
  font-size:48px;
  color:#FFFFFF;
  text-align:center;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:57px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:20px;
  top:20px;
  width:50px;
  height:81px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:81px;
}
#u9 {
  position:absolute;
  left:2px;
  top:32px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:50px;
  top:140px;
  width:120px;
  height:120px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:120px;
}
#u11 {
  position:absolute;
  left:2px;
  top:52px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:220px;
  top:140px;
  width:240px;
  height:40px;
  font-size:28px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:40px;
}
#u13 {
  position:absolute;
  left:0px;
  top:4px;
  width:240px;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:220px;
  top:192px;
  width:300px;
  height:48px;
  font-size:28px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:48px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:105px;
  top:270px;
  width:603px;
  height:10px;
}
#u16_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u16_end {
  position:absolute;
  left:586px;
  top:-5px;
  width:18px;
  height:20px;
}
#u16_line {
  position:absolute;
  left:0px;
  top:3px;
  width:603px;
  height:5px;
}
#u17 {
  position:absolute;
  left:50px;
  top:320px;
  width:120px;
  height:120px;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:120px;
}
#u18 {
  position:absolute;
  left:2px;
  top:52px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:220px;
  top:320px;
  width:240px;
  height:40px;
  font-size:28px;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:40px;
}
#u20 {
  position:absolute;
  left:0px;
  top:4px;
  width:240px;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:220px;
  top:372px;
  width:300px;
  height:48px;
  font-size:28px;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:48px;
}
#u22 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:105px;
  top:450px;
  width:603px;
  height:10px;
}
#u23_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u23_end {
  position:absolute;
  left:586px;
  top:-5px;
  width:18px;
  height:20px;
}
#u23_line {
  position:absolute;
  left:0px;
  top:3px;
  width:603px;
  height:5px;
}
#u24 {
  position:absolute;
  left:50px;
  top:500px;
  width:120px;
  height:120px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:120px;
}
#u25 {
  position:absolute;
  left:2px;
  top:52px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:220px;
  top:500px;
  width:240px;
  height:40px;
  font-size:28px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:40px;
}
#u27 {
  position:absolute;
  left:0px;
  top:4px;
  width:240px;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:220px;
  top:552px;
  width:300px;
  height:48px;
  font-size:28px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:48px;
}
#u29 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:105px;
  top:630px;
  width:603px;
  height:10px;
}
#u30_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u30_end {
  position:absolute;
  left:586px;
  top:-5px;
  width:18px;
  height:20px;
}
#u30_line {
  position:absolute;
  left:0px;
  top:3px;
  width:603px;
  height:5px;
}
#u31 {
  position:absolute;
  left:41px;
  top:700px;
  width:120px;
  height:120px;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:120px;
}
#u32 {
  position:absolute;
  left:2px;
  top:52px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:211px;
  top:700px;
  width:240px;
  height:40px;
  font-size:28px;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:40px;
}
#u34 {
  position:absolute;
  left:0px;
  top:4px;
  width:240px;
  word-wrap:break-word;
}
#u35 {
  position:absolute;
  left:211px;
  top:752px;
  width:300px;
  height:48px;
  font-size:28px;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:48px;
}
#u36 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u37 {
  position:absolute;
  left:96px;
  top:830px;
  width:603px;
  height:10px;
}
#u37_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u37_end {
  position:absolute;
  left:586px;
  top:-5px;
  width:18px;
  height:20px;
}
#u37_line {
  position:absolute;
  left:0px;
  top:3px;
  width:603px;
  height:5px;
}
#u38 {
  position:absolute;
  left:32px;
  top:890px;
  width:120px;
  height:120px;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:120px;
}
#u39 {
  position:absolute;
  left:2px;
  top:52px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40 {
  position:absolute;
  left:202px;
  top:890px;
  width:240px;
  height:40px;
  font-size:28px;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:40px;
}
#u41 {
  position:absolute;
  left:0px;
  top:4px;
  width:240px;
  word-wrap:break-word;
}
#u42 {
  position:absolute;
  left:202px;
  top:942px;
  width:300px;
  height:48px;
  font-size:28px;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:48px;
}
#u43 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u44 {
  position:absolute;
  left:87px;
  top:1020px;
  width:603px;
  height:10px;
}
#u44_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u44_end {
  position:absolute;
  left:586px;
  top:-5px;
  width:18px;
  height:20px;
}
#u44_line {
  position:absolute;
  left:0px;
  top:3px;
  width:603px;
  height:5px;
}
#u45 {
  position:absolute;
  left:938px;
  top:264px;
  width:272px;
  height:136px;
  font-size:36px;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:272px;
  height:136px;
}
#u46 {
  position:absolute;
  left:0px;
  top:0px;
  width:272px;
  word-wrap:break-word;
}
#u47 {
  position:absolute;
  left:628px;
  top:300px;
  width:310px;
  height:10px;
}
#u47_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u47_end {
  position:absolute;
  left:293px;
  top:-5px;
  width:18px;
  height:20px;
}
#u47_line {
  position:absolute;
  left:0px;
  top:5px;
  width:310px;
  height:1px;
}
#u48 {
  position:absolute;
  left:850px;
  top:396px;
  width:590px;
  height:424px;
  font-size:36px;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:590px;
  height:424px;
}
#u49 {
  position:absolute;
  left:0px;
  top:0px;
  width:590px;
  word-wrap:break-word;
}
