body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:720px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:1280px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:1280px;
}
#u1 {
  position:absolute;
  left:2px;
  top:632px;
  width:716px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:0px;
  top:-10px;
  width:720px;
  height:120px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:120px;
}
#u3 {
  position:absolute;
  left:2px;
  top:52px;
  width:716px;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:241px;
  top:32px;
  width:249px;
  height:57px;
  font-size:48px;
  color:#FFFFFF;
  text-align:center;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:249px;
  height:57px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:249px;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:70px;
  top:32px;
  width:140px;
  height:57px;
  font-size:48px;
  color:#FFFFFF;
  text-align:center;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:57px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:20px;
  top:20px;
  width:50px;
  height:81px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:81px;
}
#u9 {
  position:absolute;
  left:2px;
  top:32px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:24px;
  top:140px;
  width:672px;
  height:30px;
  font-size:28px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:672px;
  height:30px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:672px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:24px;
  top:190px;
  width:272px;
  height:50px;
  font-size:28px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:272px;
  height:50px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:272px;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:344px;
  top:250px;
  width:222px;
  height:24px;
  font-size:20px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:222px;
  height:24px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:222px;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:40px;
  top:310px;
  width:590px;
  height:10px;
}
#u16_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u16_end {
  position:absolute;
  left:573px;
  top:-5px;
  width:18px;
  height:20px;
}
#u16_line {
  position:absolute;
  left:0px;
  top:4px;
  width:590px;
  height:3px;
}
#u17 {
  position:absolute;
  left:70px;
  top:340px;
  width:290px;
  height:40px;
  font-size:28px;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:290px;
  height:40px;
}
#u18 {
  position:absolute;
  left:0px;
  top:0px;
  width:290px;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:70px;
  top:390px;
  width:502px;
  height:70px;
  font-size:28px;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:502px;
  height:70px;
}
#u20 {
  position:absolute;
  left:0px;
  top:0px;
  width:502px;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:40px;
  top:490px;
  width:590px;
  height:10px;
}
#u21_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u21_end {
  position:absolute;
  left:573px;
  top:-5px;
  width:18px;
  height:20px;
}
#u21_line {
  position:absolute;
  left:0px;
  top:4px;
  width:590px;
  height:3px;
}
#u22 {
  position:absolute;
  left:70px;
  top:520px;
  width:290px;
  height:40px;
  font-size:28px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:290px;
  height:40px;
}
#u23 {
  position:absolute;
  left:0px;
  top:0px;
  width:290px;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:70px;
  top:570px;
  width:502px;
  height:70px;
  font-size:28px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:502px;
  height:70px;
}
#u25 {
  position:absolute;
  left:0px;
  top:0px;
  width:502px;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:40px;
  top:660px;
  width:590px;
  height:10px;
}
#u26_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u26_end {
  position:absolute;
  left:573px;
  top:-5px;
  width:18px;
  height:20px;
}
#u26_line {
  position:absolute;
  left:0px;
  top:4px;
  width:590px;
  height:3px;
}
#u27 {
  position:absolute;
  left:70px;
  top:690px;
  width:290px;
  height:40px;
  font-size:28px;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:290px;
  height:40px;
}
#u28 {
  position:absolute;
  left:0px;
  top:0px;
  width:290px;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:70px;
  top:740px;
  width:502px;
  height:70px;
  font-size:28px;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:502px;
  height:70px;
}
#u30 {
  position:absolute;
  left:0px;
  top:0px;
  width:502px;
  word-wrap:break-word;
}
