body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:720px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:38px;
  top:226px;
  width:592px;
  height:224px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:592px;
  height:224px;
}
#u1 {
  position:absolute;
  left:2px;
  top:104px;
  width:588px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:1280px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:1280px;
}
#u3 {
  position:absolute;
  left:2px;
  top:632px;
  width:716px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:0px;
  top:-10px;
  width:720px;
  height:120px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:120px;
}
#u5 {
  position:absolute;
  left:2px;
  top:52px;
  width:716px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:241px;
  top:32px;
  width:249px;
  height:57px;
  font-size:48px;
  color:#FFFFFF;
  text-align:center;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:249px;
  height:57px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:249px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:70px;
  top:32px;
  width:140px;
  height:57px;
  font-size:48px;
  color:#FFFFFF;
  text-align:center;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:57px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:20px;
  top:20px;
  width:50px;
  height:81px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:81px;
}
#u11 {
  position:absolute;
  left:2px;
  top:32px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:148px;
  top:130px;
  width:402px;
  height:50px;
  font-size:36px;
  text-align:center;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:402px;
  height:50px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:402px;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:38px;
  top:260px;
  width:672px;
  height:30px;
  font-size:28px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:672px;
  height:30px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:672px;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:38px;
  top:310px;
  width:272px;
  height:50px;
  font-size:28px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:272px;
  height:50px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:272px;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:358px;
  top:406px;
  width:222px;
  height:24px;
  font-size:20px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:222px;
  height:24px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:222px;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:38px;
  top:360px;
  width:272px;
  height:50px;
  font-size:28px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:272px;
  height:50px;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:272px;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:38px;
  top:490px;
  width:672px;
  height:30px;
  font-size:28px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:672px;
  height:30px;
}
#u23 {
  position:absolute;
  left:0px;
  top:0px;
  width:672px;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:38px;
  top:540px;
  width:272px;
  height:50px;
  font-size:28px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:272px;
  height:50px;
}
#u25 {
  position:absolute;
  left:0px;
  top:0px;
  width:272px;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:38px;
  top:460px;
  width:572px;
  height:10px;
}
#u26_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u26_end {
  position:absolute;
  left:555px;
  top:-5px;
  width:18px;
  height:20px;
}
#u26_line {
  position:absolute;
  left:0px;
  top:4px;
  width:572px;
  height:3px;
}
#u27 {
  position:absolute;
  left:358px;
  top:600px;
  width:222px;
  height:24px;
  font-size:20px;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:222px;
  height:24px;
}
#u28 {
  position:absolute;
  left:0px;
  top:0px;
  width:222px;
  word-wrap:break-word;
}
