body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1340px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:1169px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:1169px;
}
#u1 {
  position:absolute;
  left:2px;
  top:576px;
  width:716px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:0px;
  top:-10px;
  width:720px;
  height:120px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:120px;
}
#u3 {
  position:absolute;
  left:2px;
  top:52px;
  width:716px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:70px;
  top:32px;
  width:140px;
  height:57px;
  font-size:48px;
  color:#FFFFFF;
  text-align:center;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:57px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:20px;
  top:20px;
  width:50px;
  height:81px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:81px;
}
#u7 {
  position:absolute;
  left:2px;
  top:32px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:241px;
  top:32px;
  width:249px;
  height:57px;
  font-size:48px;
  color:#FFFFFF;
  text-align:center;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:249px;
  height:57px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:249px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:0px;
  top:110px;
  width:720px;
  height:1170px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:1170px;
}
#u11 {
  position:absolute;
  left:2px;
  top:577px;
  width:716px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:0px;
  top:330px;
  width:720px;
  height:160px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:160px;
}
#u13 {
  position:absolute;
  left:2px;
  top:72px;
  width:716px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:130px;
  top:370px;
  width:460px;
  height:80px;
  font-size:48px;
  text-align:center;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:460px;
  height:80px;
}
#u15 {
  position:absolute;
  left:0px;
  top:12px;
  width:460px;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:0px;
  top:530px;
  width:720px;
  height:150px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:150px;
}
#u17 {
  position:absolute;
  left:2px;
  top:67px;
  width:716px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:90px;
  top:558px;
  width:540px;
  height:95px;
  font-size:72px;
  text-align:center;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:540px;
  height:95px;
}
#u19 {
  position:absolute;
  left:0px;
  top:6px;
  width:540px;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:0px;
  top:690px;
  width:720px;
  height:580px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:580px;
}
#u21 {
  position:absolute;
  left:2px;
  top:282px;
  width:716px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:204px;
  top:702px;
  width:291px;
  height:68px;
  font-size:36px;
  text-align:center;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:291px;
  height:68px;
}
#u23 {
  position:absolute;
  left:0px;
  top:13px;
  width:291px;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:58px;
  top:910px;
  width:603px;
  height:10px;
}
#u24_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u24_end {
  position:absolute;
  left:586px;
  top:-5px;
  width:18px;
  height:20px;
}
#u24_line {
  position:absolute;
  left:0px;
  top:3px;
  width:603px;
  height:5px;
}
#u25 {
  position:absolute;
  left:45px;
  top:1090px;
  width:603px;
  height:10px;
}
#u25_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u25_end {
  position:absolute;
  left:586px;
  top:-5px;
  width:18px;
  height:20px;
}
#u25_line {
  position:absolute;
  left:0px;
  top:3px;
  width:603px;
  height:5px;
}
#u26 {
  position:absolute;
  left:60px;
  top:960px;
  width:102px;
  height:100px;
  font-size:28px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:100px;
}
#u27 {
  position:absolute;
  left:2px;
  top:17px;
  width:98px;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:70px;
  top:1140px;
  width:102px;
  height:100px;
  font-size:28px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:100px;
}
#u29 {
  position:absolute;
  left:2px;
  top:17px;
  width:98px;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:230px;
  top:990px;
  width:340px;
  height:60px;
  font-size:28px;
  text-align:center;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:60px;
}
#u31 {
  position:absolute;
  left:0px;
  top:14px;
  width:340px;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:220px;
  top:1160px;
  width:340px;
  height:60px;
  font-size:28px;
  text-align:center;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:60px;
}
#u33 {
  position:absolute;
  left:0px;
  top:14px;
  width:340px;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:0px;
  top:160px;
  width:720px;
  height:120px;
  font-size:28px;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:120px;
}
#u35 {
  position:absolute;
  left:2px;
  top:44px;
  width:716px;
  word-wrap:break-word;
}
#u36 {
  position:absolute;
  left:48px;
  top:202px;
  width:600px;
  height:36px;
  font-size:28px;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:600px;
  height:36px;
}
#u37 {
  position:absolute;
  left:0px;
  top:0px;
  width:600px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38 {
  position:absolute;
  left:858px;
  top:410px;
  width:482px;
  height:170px;
  font-size:36px;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:482px;
  height:170px;
}
#u39 {
  position:absolute;
  left:0px;
  top:0px;
  width:482px;
  word-wrap:break-word;
}
#u40 {
  position:absolute;
  left:171px;
  top:820px;
  width:490px;
  height:46px;
  font-size:28px;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:490px;
  height:46px;
}
#u41 {
  position:absolute;
  left:0px;
  top:0px;
  width:490px;
  word-wrap:break-word;
}
#u42 {
  position:absolute;
  left:59px;
  top:780px;
  width:102px;
  height:100px;
  font-size:28px;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:100px;
}
#u43 {
  position:absolute;
  left:2px;
  top:17px;
  width:98px;
  word-wrap:break-word;
}
#u44 {
  position:absolute;
  left:690px;
  top:850px;
  width:200px;
  height:10px;
}
#u44_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u44_end {
  position:absolute;
  left:183px;
  top:-5px;
  width:18px;
  height:20px;
}
#u44_line {
  position:absolute;
  left:0px;
  top:5px;
  width:200px;
  height:1px;
}
#u45 {
  position:absolute;
  left:910px;
  top:820px;
  width:200px;
  height:100px;
  font-size:28px;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:100px;
}
#u46 {
  position:absolute;
  left:2px;
  top:0px;
  width:196px;
  word-wrap:break-word;
}
