body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:720px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:1280px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:1280px;
}
#u1 {
  position:absolute;
  left:2px;
  top:632px;
  width:716px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:0px;
  top:-10px;
  width:720px;
  height:120px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:120px;
}
#u3 {
  position:absolute;
  left:2px;
  top:52px;
  width:716px;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:241px;
  top:32px;
  width:249px;
  height:57px;
  font-size:48px;
  color:#FFFFFF;
  text-align:center;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:249px;
  height:57px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:249px;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:70px;
  top:32px;
  width:140px;
  height:57px;
  font-size:48px;
  color:#FFFFFF;
  text-align:center;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:57px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:20px;
  top:20px;
  width:50px;
  height:81px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:81px;
}
#u9 {
  position:absolute;
  left:2px;
  top:32px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:0px;
  top:150px;
  width:720px;
  height:390px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:390px;
}
#u11 {
  position:absolute;
  left:2px;
  top:187px;
  width:716px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:0px;
  top:570px;
  width:720px;
  height:490px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:490px;
}
#u13 {
  position:absolute;
  left:2px;
  top:237px;
  width:716px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:70px;
  top:210px;
  width:170px;
  height:40px;
  font-size:28px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:40px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:520px;
  top:170px;
  width:100px;
  height:100px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
}
#u17 {
  position:absolute;
  left:2px;
  top:42px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:58px;
  top:280px;
  width:605px;
  height:10px;
}
#u18_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u18_end {
  position:absolute;
  left:588px;
  top:-5px;
  width:18px;
  height:20px;
}
#u18_line {
  position:absolute;
  left:0px;
  top:3px;
  width:605px;
  height:4px;
}
#u19 {
  position:absolute;
  left:70px;
  top:300px;
  width:170px;
  height:40px;
  font-size:28px;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:40px;
}
#u20 {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:58px;
  top:350px;
  width:605px;
  height:10px;
}
#u21_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u21_end {
  position:absolute;
  left:588px;
  top:-5px;
  width:18px;
  height:20px;
}
#u21_line {
  position:absolute;
  left:0px;
  top:3px;
  width:605px;
  height:4px;
}
#u22 {
  position:absolute;
  left:493px;
  top:300px;
  width:170px;
  height:40px;
  font-size:28px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:40px;
}
#u23 {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:70px;
  top:375px;
  width:170px;
  height:40px;
  font-size:28px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:40px;
}
#u25 {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:58px;
  top:420px;
  width:605px;
  height:10px;
}
#u26_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u26_end {
  position:absolute;
  left:588px;
  top:-5px;
  width:18px;
  height:20px;
}
#u26_line {
  position:absolute;
  left:0px;
  top:3px;
  width:605px;
  height:4px;
}
#u27 {
  position:absolute;
  left:493px;
  top:370px;
  width:170px;
  height:40px;
  font-size:28px;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:40px;
}
#u28 {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:70px;
  top:445px;
  width:170px;
  height:40px;
  font-size:28px;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:40px;
}
#u30 {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:493px;
  top:440px;
  width:170px;
  height:40px;
  font-size:28px;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:40px;
}
#u32 {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  visibility:hidden;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:493px;
  top:445px;
  width:170px;
  height:40px;
  font-size:28px;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:40px;
}
#u34 {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  word-wrap:break-word;
}
#u35 {
  position:absolute;
  left:40px;
  top:620px;
  width:170px;
  height:40px;
  font-size:28px;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:40px;
}
#u36 {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  word-wrap:break-word;
}
#u37 {
  position:absolute;
  left:40px;
  top:720px;
  width:170px;
  height:40px;
  font-size:28px;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:40px;
}
#u38 {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  word-wrap:break-word;
}
#u39 {
  position:absolute;
  left:40px;
  top:795px;
  width:170px;
  height:40px;
  font-size:28px;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:40px;
}
#u40 {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  visibility:hidden;
  word-wrap:break-word;
}
#u41 {
  position:absolute;
  left:40px;
  top:680px;
  width:605px;
  height:10px;
}
#u41_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u41_end {
  position:absolute;
  left:588px;
  top:-5px;
  width:18px;
  height:20px;
}
#u41_line {
  position:absolute;
  left:0px;
  top:3px;
  width:605px;
  height:4px;
}
#u42 {
  position:absolute;
  left:40px;
  top:785px;
  width:605px;
  height:10px;
}
#u42_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u42_end {
  position:absolute;
  left:588px;
  top:-5px;
  width:18px;
  height:20px;
}
#u42_line {
  position:absolute;
  left:0px;
  top:3px;
  width:605px;
  height:4px;
}
#u43 {
  position:absolute;
  left:493px;
  top:620px;
  width:170px;
  height:40px;
  font-size:28px;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:40px;
}
#u44 {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  word-wrap:break-word;
}
#u45 {
  position:absolute;
  left:493px;
  top:720px;
  width:170px;
  height:40px;
  font-size:28px;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:40px;
}
#u46 {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  word-wrap:break-word;
}
#u47 {
  position:absolute;
  left:40px;
  top:825px;
  width:220px;
  height:40px;
  font-size:28px;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:40px;
}
#u48 {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  word-wrap:break-word;
}
#u49 {
  position:absolute;
  left:40px;
  top:890px;
  width:605px;
  height:10px;
}
#u49_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u49_end {
  position:absolute;
  left:588px;
  top:-5px;
  width:18px;
  height:20px;
}
#u49_line {
  position:absolute;
  left:0px;
  top:3px;
  width:605px;
  height:4px;
}
#u50 {
  position:absolute;
  left:493px;
  top:825px;
  width:170px;
  height:40px;
  font-size:28px;
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:40px;
}
#u51 {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  word-wrap:break-word;
}
#u52 {
  position:absolute;
  left:40px;
  top:925px;
  width:170px;
  height:40px;
  font-size:28px;
}
#u52_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:40px;
}
#u53 {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  word-wrap:break-word;
}
#u54 {
  position:absolute;
  left:40px;
  top:990px;
  width:605px;
  height:10px;
}
#u54_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u54_end {
  position:absolute;
  left:588px;
  top:-5px;
  width:18px;
  height:20px;
}
#u54_line {
  position:absolute;
  left:0px;
  top:3px;
  width:605px;
  height:4px;
}
#u55 {
  position:absolute;
  left:493px;
  top:925px;
  width:170px;
  height:40px;
  font-size:28px;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:40px;
}
#u56 {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  word-wrap:break-word;
}
